<%- include('partials/header') -%>

    <h1></h1>
    <section class='container'>
        <div class="app-page">
    
        <h1 class="appart-name">L'appartement F4</h1>
        <p class="description">Troix chambres, cuisine ouverte, salon, deux terasses et vue sur mere</p>
            <p class="description">Chambre double avec douche individuel</p>
            <p class="description">Deux chambre pour chaque chambre 2 à 3 places</p>
            <p class="description">Bien équipé: Climatiseur, Four et vaisselle</p>
            <p class="description">Pour maximum 8 personnes</p>
       
       
        <h3>Salon</h3>
        <img class='pic-app' src="images/f4/f41.jpg" alt="">
        <img class='pic-app' src="images/f4/f4.jpg" alt="">
        <img class='pic-app' src="images/f4/f48.jpg" alt="">
        <h3>Cuisine</h3>
        <img class='pic-app' src="images/f4/f43.jpg" alt="">
        <img class='pic-app' src="images/f4/f45.jpg" alt="">
        <img class='pic-app' src="images/f4/f410.jpg" alt="">
        
        <h3>Chambres</h3>
        <img class='pic-app' src="images/f4/f47.jpg" alt="">
        <img class='pic-app' src="images/f4/f411.jpg" alt="">
        <img class='pic-app' src="images/f4/f44.jpg" alt="">
        <h3>Terasse</h3>
        <img class='pic-app' src="images/f4/f49.jpg" alt="">
        <img class='pic-app' src="images/f4/f42.jpg" alt="">
    </div>
    <div>
        <h3>Calendrier</h3>
    </div>
        
    </section>

<%- include('partials/footer') -%> 