<%- include('partials/header') -%>

    <section class='container'>
        <div class="app-page">
    
        <h1 class="appart-name">L'appartement F3 numero 2</h1>
        <p class="description">Deux chambres, cuisine, salon, une terasse et vue sur mere</p>
       
        <h3>Salon</h3>
        <img class='pic-app' src="images/f3 n2/f3n27.jpg" alt="">
        <img class='pic-app' src="images/f3 n2/f3n2.jpg" alt="">
        <h3>Cuisine</h3>
        <img class='pic-app' src="images/f3 n2/f3n217.jpg" alt="">
        <img class='pic-app' src="images/f3 n2/f3n21.jpg" alt="">
        <img class='pic-app' src="images/f3 n2/f3n210.jpg" alt="">
        <img class='pic-app' src="images/f3 n2/f3n25.jpg" alt="">
        <h3>Chambre</h3>
        <img class='pic-app' src="images/f3 n2/f3n212.jpg" alt="">
        <img class='pic-app' src="images/f3 n2/f3n214.jpg" alt="">
        <img class='pic-app' src="images/f3 n2/f3n24.jpg" alt="">
        <h3>Terasse</h3>
        <img class='pic-app' src="images/f3 n2/f3n26.jpg" alt="">
        <img class='pic-app' src="images/f3 n2/f3n213.jpg" alt="">
        <h3>Autre</h3>
        <img class='pic-app' src="images/f3 n2/f3n28.jpg" alt="">
        <img class='pic-app' src="images/f3 n2/f3n29.jpg" alt="">
        <img class='pic-app' src="images/f3 n2/f3n22.jpg" alt="">
        <img class='pic-app' src="images/f3 n2/f3n215.jpg" alt="">
    </div>
    <div>
        <h3>Calendrier</h3>
    </div>
        
    </section>

<%- include('partials/footer') -%> 