<%- include('partials/header') -%>

    <section class='container'>
        <div class="app-page">
    
        <h1 class="appart-name">L'appartement F3 numero 3</h1>
        <p class="description">Deux chambres, cuisine, salon, une terasse et vue sur montagne</p>
       
        <h3>Cuisine</h3>
        <img class='pic-app' src="images/f3 n3/f3n36.jpg" alt="">
        <img class='pic-app' src="images/f3 n3/f3n34.jpg" alt="">
        <h3>Chambres</h3>
        <img class='pic-app' src="images/f3 n3/f3n33.jpg" alt="">
        <img class='pic-app' src="images/f3 n3/f3n35.jpg" alt="">
        <h3>Terasse</h3>
        <img class='pic-app' src="images/f3 n3/f3n32.jpg" alt="">
       
        <h3>Autre</h3>
        <img class='pic-app' src="images/f2/2f2.jpg" alt="">
    </div>
    <div class="app-page">
        <h3>Calendrier</h3>
    </div>
        
    </section>

<%- include('partials/footer') -%> 