<%- include('partials/header') -%>


<section class='container'>
    <div class="app-page">


    <h1 class="appart-name">L'appartement F2</h1>
    <p class="description">une chambre, cuisine, salon et vue sur mere</p>
   
    <h3>Salon</h3>
    <img class='pic-app' src="images/f2/f2.jpg" alt="">
    <img class='pic-app' src="images/f2/6f2.jpg" alt="">
    <img class='pic-app' src="images/f2/8f2.jpg" alt="">
    <h3>Chambre double</h3>
    <img class='pic-app' src="images/f2/3f2.jpg" alt="">
    <h3>Autre</h3>
    <img class='pic-app' src="images/f2/1f2.jpg" alt="">
    <img class='pic-app' src="images/f2/2f2.jpg" alt="">
    <img class='pic-app' src="images/f2/4f2.jpg" alt="">
    <img class='pic-app' src="images/f2/5f2.jpg" alt="">
    <img class='pic-app' src="images/f2/7f2.jpg" alt="">
    <img class='pic-app' src="images/f2/9f2.jpg" alt="">
</div>
<div>
    <h3>Calendrier</h3>
</div>
    
</section>

<%- include('partials/footer') -%> 