<%- include('partials/header') -%>
    

    <section class='container'>
        <div class="grid-header">
            <div>
                <h1 class='big-heading'>Bienvenue chez Fahem Bang</h1>
                <p class="localisation"><img class="icons" src="images/icons/placeholder.png" alt="">  Lbelj, Tipaza, Algérie</p>
            </div>
            

             <div class='header-image'></div>
        </div>
    </section>

    <section class='container'>
        <div class='appart-sec'>
            <p class="title-apart">Les appartements</p>
            <div class="grid-appart">
                <div class='appart-card'>
                   <img class='pic-appart' src="images/f2/f2.jpg" alt="">
                   <p class='text-card'><span>F2</span> une chambre, cuisine, salon et vue sur mere</p>
                   <a class='plus-b' href="/appartF2"><img class="plus-img" src="images/icons/plus.png" alt=""></a>
                </div>
                <div class='appart-card'>
                    <img class='pic-appart' src="images/f3 n1/f3n13.jpg" alt="">
                    <p class='text-card'><span>F3 n1</span> Deux chambres, cuisine, salon, salle à manger et mure vitrer sur mere</p>
                   <a class='plus-b' href="/appartF31"><img class="plus-img" src="images/icons/plus.png" alt=""></a>
                </div>
                <div class='appart-card'>
                    <img class='pic-appart' src="images/f3 n2/f3n27.jpg" alt="">
                    <p class='text-card'><span>F3 n2</span> Deux chambres, cuisine, salon, une terasse et vue sur mere</p>
                   <a class='plus-b' href="/appartF32"><img class="plus-img" src="images/icons/plus.png" alt=""></a>
                </div>
                <div class='appart-card'>
                    <img class='pic-appart' src="images/f3 n3/f3n36.jpg" alt="">
                    <p class='text-card'><span>F3 n3</span> Deux chambres, cuisine, salon, une terasse et vue sur montagne</p>
                   <a class='plus-b' href="/appartF33"><img class="plus-img" src="images/icons/plus.png" alt=""></a>
                </div>
                <div class='appart-card'>
                    <img class='pic-appart' src="images/f4/f43.jpg" alt="">
                    <p class='text-card'><span>F4</span> Troix chambres, cuisine ouverte, salon, deux terasses et vue sur mere</p>
                   <a class='plus-b' href="/appartF4"><img class="plus-img" src="images/icons/plus.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>

    <section class='container'>
      <div class="grid-sec3">
         <div class='instrac-part'>
           <h2>Ce que propose ce logement</h2>
           <p class='instrac'> <img class="icons" src="images/icons/view.png" alt=""> Vue sur la mer</p>
           <p class='instrac'> <img class="icons" src="images/icons/electric-car.png" alt=""> Parking</p>
           <p class='instrac'> <img class="icons" src="images/icons/wifi.png" alt=""> Wifi</p>
           <p class='instrac'> <img class="icons" src="images/icons/pool.png" alt=""> Piscine à tour de rôle</p>
           <p class='instrac'> <img class="icons" src="images/icons/shield.png" alt=""> Endroit sécurisé et calme</p>
           <p class='instrac'> <img class="icons" src="images/icons/mountain.png" alt=""> Vue sur la montagne</p>
           <p class='instrac'> <img class="icons" src="images/icons/sea.png" alt=""> bord de mer</p>
         </div>
         <div class='instrac-part'>
            <h2>Règlement intérieur</h2>
            <p class='instrac'> <img class="icons" src="images/icons/handshake.png" alt=""> Le calme et le respect voisins abligatoire</p>
            <p class='instrac'> <img class="icons" src="images/icons/time-left.png" alt=""> Laisser l’appartement avant 12:00 h</p>
            <p class='instrac'> <img class="icons" src="images/icons/bubbles.png" alt=""> Laisser l’appartement propre</p>
            <p class='instrac'> <img class="icons" src="images/icons/cross.png" alt=""> Le barbecue interdit dans la terrasse</p>
            <p class='instrac'> <img class="icons" src="images/icons/celebrate.png" alt=""> Pas de fete et pas d’evenements</p>
            <p class='instrac'> <img class="icons" src="images/icons/no-animal-testing.png" alt=""> Pas d’animaux</p>
            <p class='instrac'> <img class="icons" src="images/icons/cross.png" alt=""> Pas d’inviter non prevu</p>
            <p class='instrac'> <img class="icons" src="images/icons/no-group.png" alt=""> Pas de personnes habitant dans la region</p>

         </div>
      </div>
    </section>

    <section>
        <div class='whatsapp-sec' >
           <a  href="wa.link/4s2atb"> <img class="icons" src="images/icons/whatsapp.png" alt=""> +213 556 64 52 22</a>
        </div>
    </section>
    <%- include('partials/footer') -%>  
    
